#conteinerd{
    height: 700px;

}

.divP {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
}

.h12 {
    color: #f1f1f1;
    font-family: 'aptly';
    font-size: 200px;
    position: relative;
    top: 0px;
    width: 1000px;
    margin-top: 0px;
    left: 70px;
    letter-spacing: 15px;
    
}

#h21 {
    color: #f1f1f1;
    font-family: 'aptly';
    font-size: 40px;
    position: absolute;
    top: 950px;
    left: 70px;
    letter-spacing: 1px;
}

#p2 {
    color: #989898;
    font-family: 'museo';
    position: absolute;
    top: 1030px;
    font-size: 20px;
    height: 150px;
    width: 800px;
    left: 70px;
    text-align: justify;
    letter-spacing: 2px;
}

#h30{
    color: #f1f1f1;
    font-family: 'aptly';
    font-size: 200px;
    position: relative;
    top: 0px;
    width: 1000px;
    margin-top: 0px;
    left: 70px;
    letter-spacing: 15px;
}

